<!DOCTYPE HTML>
<head>
  <title>Hear The City Data Collection Monitor</title>

  <!-- jQuery and jQuery UI -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" /?>
  <script src='/javascript/jquery-1.10.1.min.js'></script>
  <script src='/javascript/jquery-ui.min.js'></script>

  <!-- Hear the City -->
  <link rel="stylesheet" type="text/css" href="/css/htc.css" />
  <script src="/javascript/htc.js"></script>

</head>
<body>
  <div class='header'>
    <h1>Hear The City</h1>
    <div class='menu'>
      <a class='menu_button' href='/'>Data Collection</a>
      <a class='menu_button' href='/score'>Scores</a>
    </div>
  </div>
  <div class='holder'>
