<!DOCTYPE>
<head>
  <title>Hear The City Data Collection Monitor</title>

  <!-- Hear the City -->
  <link rel="stylesheet" type="text/css" href="/css/htc.css">
  <script src="/javascript/htc.js"></script>

  <!-- jQuery and jQuery UI -->
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
  <script src='/javascript/jquery-1.10.1.min.js'></script>
  <script src='/javascript/jquery-ui.min.js'></script>
</head>
<body>
  <div class='header'>
    <h1>Hear The City</h1>
    <h2>Data Collection Monitor</h2>
  </div>
  <div class='holder'>
    <div class="btn-group">
      <button type="button" class="btn btn-default">
        <a href="#" onclick="refresh_messages();">Refresh</a>
      </button>
    </div>
