<h1>Score Fragments</h1>

<p id='no_score_message' 
   style='display:none;color:red;'>
  There are no new scores to show. The score will be refreshed when there is.
</p>
<p id='refresh_message'>
  Press Space key while focussed on this page to get a new score.
</p>
<div class='score_holder'>
  <% if @message %>
    <img id='fragment' src="<%= @message.image_path%>"></img>
  <% end %>
</div>

<script type='text/javascript'>
  $(document).keypress(function(e) {
    if(e.which == 32) {
      if($waiting==false){
        refresh_score();
      }
    }
  });  
</script>
